# ----------------------------------
# Основные настройки приложения
# ----------------------------------
APP_NAME="МКОУ Маршихинская СОШ"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_MAINTENANCE_DRIVER=file

# Локализация
APP_LOCALE=ru
APP_FALLBACK_LOCALE=ru
APP_FAKER_LOCALE=ru_RU

# ----------------------------------
# База данных
# ----------------------------------
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=school_db
DB_USERNAME=root
DB_PASSWORD=

# ----------------------------------
# Сессии и кэш
# ----------------------------------
SESSION_DRIVER=database
SESSION_LIFETIME=120

CACHE_STORE=database

# ----------------------------------
# Почта (если будут формы: "Связаться с нами")
# ----------------------------------
MAIL_MAILER=smtp
MAIL_HOST=smtp.yandex.ru
MAIL_PORT=587
MAIL_USERNAME=your-school@yandex.ru
MAIL_PASSWORD=your-app-password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="info@scholamarchikhinskaya.ru"
MAIL_FROM_NAME="${APP_NAME}"

# ----------------------------------
# Файловая система
# ----------------------------------
FILESYSTEM_DISK=public

# ----------------------------------
# Очереди и фоновые задачи
# ----------------------------------
QUEUE_CONNECTION=sync

# ----------------------------------
# Vite / Frontend
# ----------------------------------
VITE_APP_NAME="${APP_NAME}"